body{
    color: rgb(0, 0, 0);
}

@media screen {
    max-width: 50%
    background-color: lightblue;
}

header{
    margin-top: -23px;
    margin-left: -5px;
    height: 120px;
    width: 101%;
    background-color: black;
    
}
nav{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: -25px;
    
}
nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1{
    
    color: white;
    text-align: center;
}
#ww{
    text-align: center;
    color: white;
}
body{
    background:rgb(252, 255, 251);
}
table{
    border:
}

#a{
    color : black;
    background-color: srgb(255, 98, 0);
}
#pic{
    text-align: center;
}
#fb{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#insta{
    text-align: center;;
        background-color: rgb(255, 255, 255);
}
#tt{
    text-align: center;
    background-color:white;
}

#ex{
    color:rgb(0, 0, 0);
    background-color: blanchedalmond;
}
footer{
    text-align: center;
    height: 200px;
    color:rgb(5, 5, 5);
    background-color: rgb(139, 113, 98);
}